<div class="row">
  <div class="col-xs-10 col-xs-offset-2">

    <div class="panel panel-primary">
      <div class="panel-heading">
          <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        <h3 class="panel-title"> <%= @manager.full_name %></h3>
      </div>

      <div class="panel-body panel-collapse-wrapper">
        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Details</h3>
              </div>

              <div class="panel-body profile-panel">
                <table class="table table-condensed table-hover profile-table">
                  <tbody>
                    <tr>
                      <td> Email </td>
                      <td>
                                      <%= @manager.email %>
                                      <i class="glyphicon glyphicon-send" aria-hidden="true" > </i> </td>
                    </tr>
                    <tr>
                      <td>
                        Entries
                      </td>
                      <td>
                        <%= @entries.count %>
                      </td>

                    </tr>
                    <tr>
                      <td>
                        # of Employees
                      </td>
                      <td>
                        <%= @employees.count %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Date Signed Up
                      </td>
                      <td>
                        <%= @manager.created_at %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        Last Entry
                      </td>
                      <td>
                        <%= @entries.present? ? @entries.last.created_at : "--" %>
                      </td>
                    </tr>
                  </tbody>
                </table>

              </div>

            </div>
          </div>
          <div class="col-sm-8">
            <div class="panel panel-default">
              <div class="panel-heading">

                <h3 class="panel-title"> Employees </h3>
              </div>
              <div class="panel-body employee-panel">
                <table class="table-condensed table-hover employee-list">
                  <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-Mail</th>
                    <th># of Entries</th>
                  </tr>
                  <tbody>
                    <% @employees.each do |emp| %>
                    <tr>
                      <td>
                        <%= emp.id %>
                      </td>
                      <td>
                        <%= emp.first_name %>
                      </td>
                      <td>
                        <%= emp.last_name %>
                      </td>
                      <td>
                        <%= emp.email %>
                      </td>
                      <td>
                        <%= emp.entries.count %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

        </div>


      </div>

    </div>
  </div>

</div>



<div class="row row-eq-height">
  <div class="col-xs-2 sidebar-left" > <!-- required for floating -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left" style="height: 100vh">
      <% @employees.each_with_index do |emp, index| %>
      <li class= "<%=  index == 0 ? 'active' : ''  %>"><a href= '#e<%= emp.id %>' data-toggle="tab"><%= emp.full_name %></a></li>

      <% end %>
    </ul>
  </div>


  <div class="col-xs-10">

    <div class="tab-content">

      <% @employees.each_with_index do |employee, index| %>
        <div id= 'e<%= employee.id %>' class="tab-pane fade <%=  index == 0 ? 'in active' : ''  %> ">


          <ul class="nav nav-tabs">
            <% @surveys.each_with_index do |survey, index| %>
            <li class= "<%=  index == 0 ? 'active' : ''  %>">
              <a href= '#s<%= survey.id %>-e<%= employee.id %>' data-toggle="tab">
                <%= survey.form_name %>
              </a>
            </li>

          <% end %>
          </ul>

          <div class="tab-content">
            <br />

            <legend>
              <%= "#{@manager.full_name}'s " %>responses for: <%= employee.full_name %>
            </legend>

            <% @surveys.each_with_index do |survey, surv_index| %> <!-- survey content -->
              <div id= 's<%= survey.id %>-e<%= employee.id %>' class="tab-pane fade <%=  surv_index == 0 ? 'in active' : ''  %> ">
                <% chart_data = {} %>
                <% question_names = [] %>
                <% @entries.where(target_person_id: employee.id, manager_survey_id: survey.id).each_with_index do |entry, index| %>
                  <% entry.content['data'].each do |q_num, data_object| %>
                    <% if chart_data.key?(q_num) == false %>
                      <% chart_data[q_num] = [] %>
                      <% question_names.push(data_object['question'])%>
                    <% end %>

                    <% series_object = {} %>
                    <% series_object['name'] = "Entry #{index +1}" %>
                    <% series_data = {} %>

                    <% data_object['response'].each do |opt_num, response_object| %>
                      <% series_data[response_object['content']] = response_object['value']  %>

                    <% end %>

                    <% series_object['data'] = series_data %>
                    <%# entry_data_hash = {"entry#{index + 1}" => series_object} %>
                    <% chart_data[q_num].push(series_object) %>

                  <% end %> <!-- entry.content['data'].each do -->


                <% end %> <!-- @entrie.each do -->

                <% chart_data.each do |q_num, series_array| %>
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                      <h3 class="panel-title"><%= q_num %></h3>
                    </div>

                    <div class="panel panel-body panel-collapse-wrapper">
                      <div id="container" style="width: 100%;">

                        <% max = 0 %>
                        <% series_array.each do |series_content| %>
                          <% series_content['data'].each do |content, value| %>
                            <% max = (value.to_i) if value.to_i > max %>
                          <% end %>
                        <% end %>
                        <%= bar_chart series_array, width: '100%', max: max,
                        library: {
                                yAxis: {
                                  labels: {
                                    enabled: true,
                                  },

                                  allowDecimals: false
                                }
                              }%>
                      </div>
                    </div>
                  </div>


                <% end %>


              </div> <!-- end survey content-->
            <% end %>
          </div>


        </div>
        <% end %>

    </div>
  </div>
</div>

<script>

  // $(window).trigger('resize')

  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    console.log("tabddd")
    $('div[data-highcharts-chart]').each(function(){
        $(this).highcharts().reflow()
    })
  })

  var detailHeight = $('.profile-panel').height()
  $('.employee-panel').height(detailHeight)
  $('.employee-list').height(detailHeight - 10)

  $(window).on('resize', function (){

    var detailHeight = $('.profile-panel').height()
    $('.employee-panel').height(detailHeight)
    $('.employee-list').height(detailHeight - 10)
  })


  $(document).on('click', '.panel-heading span.clickable', function(e){
    var $this = $(this);
	if(!$this.hasClass('panel-collapsed')) {
		$this.parents('.panel').find('.panel-collapse-wrapper').slideUp();
    $('.employee-panel').height(0)
		$this.addClass('panel-collapsed');

		$this.find('i').removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
	} else {
		$this.parents('.panel').find('.panel-collapse-wrapper').slideDown();

    var detailHeight = $('.profile-panel').height()
    $('.employee-panel').height(detailHeight)
    $('.employee-list').height(detailHeight - 10)
		$this.removeClass('panel-collapsed');
		$this.find('i').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
	}
})


</script>
