<h1>Manager Show</h1>

<%= @manager.full_name %>


<div class="row row-eq-height">
  <div class="col-xs-2 " > <!-- required for floating -->
    <!-- Nav tabs -->
    <ul class="nav nav-tabs tabs-left" style="height: 100vh">
      <% @employees.each_with_index do |emp, index| %>
      <li class= "<%=  index == 0 ? 'active' : ''  %>"><a href= '#e<%= emp.id %>' data-toggle="tab"><%= emp.full_name %></a></li>

      <% end %>
    </ul>
  </div>


  <div class="col-xs-10">

    <div class="tab-content">

      <% @employees.each_with_index do |employee, index| %>
        <div id= 'e<%= employee.id %>' class="tab-pane fade <%=  index == 0 ? 'in active' : ''  %> ">

          <%= employee.full_name %>

          <ul class="nav nav-tabs">
            <% @surveys.each_with_index do |survey, index| %>
            <li class= "<%=  index == 0 ? 'active' : ''  %>">
              <a href= '#s<%= survey.id %>-e<%= employee.id %>' data-toggle="tab">
                <%= survey.form_name %>
              </a>
            </li>

          <% end %>
          </ul>

          <div class="tab-content">
            <% @surveys.each_with_index do |survey, index| %> <!-- survey content -->
              <div id= 's<%= survey.id %>-e<%= employee.id %>' class="tab-pane fade <%=  index == 0 ? 'in active' : ''  %> ">
                SURVEY <%= survey.form_name %>
                <%= employee.full_name %>

                <% chart_data = {} %>
                <% @entries.where(target_person_id: employee.id, manager_survey_id: survey.id).each_with_index do |entry, index| %>
                  <% entry.content['data'].each do |q_num, data_object| %>
                    <% if chart_data.key?(q_num) == false %>
                      <% chart_data[q_num] = [] %>
                    <% end %>
                    <% series_object = {} %>
                    <% series_object['name'] = "Entry #{index +1}" %>
                    <% series_data = {} %>

                    <% data_object['response'].each do |opt_num, response_object| %>
                      <% series_data[response_object['content']] = response_object['value']  %>

                    <% end %>

                    <% series_object['data'] = series_data %>
                    <%# entry_data_hash = {"entry#{index + 1}" => series_object} %>
                    <% chart_data[q_num].push(series_object) %>
                    <br />

                  <% end %> <!-- entry.content['data'].each do -->


                <% end %> <!-- @entrie.each do -->
                <%= chart_data %>


              </div> <!-- end survey content-->
            <% end %>
          </div>


        </div>
        <% end %>

    </div>
  </div>
</div>
