
<div class="row">
  <div class="col-sm-10 ">

    <%= @employee_survey.errors.full_messages.join(", ") %>

    <%# @study = params['study_id'].to_i %>
    <%= simple_form_for (@employee_survey), :url => study_employee_surveys_path(@study) do |f|%>
    <div class="panel panel-primary">
      <div class="panel-heading panel-heading-form">
        <%= f.submit class: "btn btn-default pull-right", value: "Save" %>

        <h3 class="panel-title">Form Name</h3>
      </div>
      <div class="panel-body">

          <%= f.text_field :form_name, class: "form-control", value: "#{@study.title} -- Employee Time #{@survey_number}" %>
          <label>(click to change)</label>
      </div>
    </div>

    <div class="form">

    </div>



  </div>

  <div class="col-sm-2 sidebar-wrapper">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          Add Question Types
        </h3>
      </div>
      <div class="panel-body">
        <div class="btn-group-vertical" style="width: 100%">


          <%= link_to_add_association  f, :questions, partial: 'employee_surveys/mc_question_fields', 'data-association-insertion-node' => ".form", class: 'btn btn-default'  do %>
            <div class="text-left">
              <i class="glyphicon glyphicon-list question-icon" aria-hidden="true" > </i>
              Multiple Choice
            </div>
          <% end %>


          <%= link_to_add_association  f, :questions, partial: 'employee_surveys/checklist_question_fields', 'data-association-insertion-node' => ".form", class: 'btn btn-default' do %>
            <div class="text-left">
              <i class="glyphicon glyphicon-check question-icon" aria-hidden="true" > </i>
              Check Box
            </div>
          <% end %>

          <%= link_to_add_association  f, :questions, partial: 'employee_surveys/matrix_question_fields', 'data-association-insertion-node' => ".form", class: 'btn btn-default', width: '100%' do%>
          <div class="text-left">
            <i class="glyphicon glyphicon-th question-icon" aria-hidden="true" > </i>
            Matrix Question
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
