<h1>Manager Form</h1>

<% @study = params['study_id'].to_i %>
<%= simple_form_for (@manager_survey), :url => study_manager_surveys_path(@study) do |f|%>
  <div class="form-group">
    <%= f.label :form_name %>
    <%= f.text_field :form_name, class: "form-control" %>
  </div>





  <div class="links">
      <%= link_to_add_association 'Add Matrix Question', f, :questions, partial: 'manager_surveys/matrix_question_fields' %>
      <%= link_to_add_association 'Add MC Question', f, :questions, partial: 'manager_surveys/mc_question_fields' %>
      <%= link_to_add_association 'Add Checklist Question', f, :questions, partial: 'manager_surveys/checklist_question_fields' %>
  </div>

  <%= f.submit %>

<% end %>
